doctype html
html(lang = "en")
    head
        meta(charset = "UTF-8")
        meta(http-equiv = "X-UA_Compatible", content = "IE=edge")
        meta(name ="viewport", content = "width = device-width")
        title Zooom
        link(rel ="stylesheet" href="https://unpkg.com/mvp.css@1.10.2/mvp.css")
    body
        header
            h1 Zooom!
        main
            h3 Welcome to Zooom
        button call
        script(src = "public/js/app.js")
